<div class="container mt-3">
  <div class="profile-header">
    <!-- Avatar Profile -->
    <div class="profile-img">
      <%= link_to image_tag("TongDangTinh.JPG"), "#", alt: "my profile" %>
    </div>
    
    <!-- Information -->
    <div class="profile-nav-info">
      <h3 class="user-name">Tống Đăng Tình</h3>
      <div class="address">
        <p class="state">Ruby, </p>
        <span class="country">Ruby on Rails developer.</span>
      </div>
    </div>
  </div>
  
  <!-- Main-body -->
  <div class="main-bd">
    <div class="left-side">
      <div class="profile-side">
        <p class="address-user">
          <h5 class="text-info">Contact</h5>
          <hr>
          <i class="fa fa-map-marker"></i>
          Số 143, ngõ 68, Phú Diễn, Bắc Từ Liêm, Hà Nội
        </p>
        <p class="mobile-no">
          <i class="fa fa-phone"></i> 0977 215 827
        </p>
        <p class="user-mail">
          <i class="fa fa-envelope"></i>
          <%= link_to "tinhtongdang@gmail.com" %>
        </p>
      </div>
    </div>

    <div class="right-side-bootstrap">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
       emailrole="tab" aria-controls="profile" aria-selected="false">
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" 
            role="tab" aria-controls="contact" aria-selected="false">
            Other Skills
          </a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active ml-3 profile" id="profile" 
          role="tabpanel" aria-labelledby="profile-tab">
          <p class="mt-2">
            <span class="pl-4">I</span> am a developer specializing in Rails.
            Strong background in project management. Well-verser in numerous 
            programming languages including: HTML, CSS, Bootstrap, Ruby, Ruby 
            on Rails.
          </p>
          <p>
            <span class="pl-4">I</span> have always been very good at planning
            and detailing all the steps. I am a harder worker and like to take 
            in a variety of challenges and able to accomplish a large amount of
            work with a short period of time, get things done on time.
          </p>
          <p>
            <span class="pl-4">I</span> work with people very well in way, 
            where I use the strengths of each individual in a team to produce 
            the best results. 
          </p>
          <div class="skills">
            <div class="col-md-12">
              <h3 class="text-info">Skills</h3>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted font-italic">
                <div>
                  <span class="pl-3"> HTML: </span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div>
                  <span class="pl-3"> CSS : </span>
                  <span class="fa fa-star checked pl-2"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div>
                  <span class="pl-3"> RUBY: </span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="col-md-6 text-muted font-italic">
                <div>
                  <span class="pl-3"> BOOTSTRAP : </span>
                  <span class="fa fa-star checked pl-4"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div>
                  <span class="pl-3"> RUBY ON RAILS: </span>
                  <span class="fa fa-star checked pl-2"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="experience mt-2">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-info">Experience</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <h5>Ruby on Rails Developer Internship</h5>
                <p>Awesome Academy: Tầng 11 Handico Tower khu đô thị mới Mễ Trì 
                  Hạ, đường Phạm Hùng, quận Nam Từ Liêm, Hà Nội
                </p>
              </div>
              <div class="col-md-3">
                <p class="text-muted font-italic"> Jan 2020- Mar 2020</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 offset-md-0">
                <h5 class="ml-3 border-bottom">Some projects</h5>
              </div>
              <div class="col-md-12">
                <ul>
                  <li>
                    <a href="https://github.com/TongDangTinh/Book_Review"  
                      target="_blank">Book Review</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade other-skills mt-3" id="contact" 
          role="tabpanel" aria-labelledby="contact-tab">

          <div class="row ml-2">
            <div class="col-md-8">
              <h5 class="font-weight-bold text-muted">Leader: </h5>
              <p class="font-italic">
                Company: Hoya glass disk Viet Nam II LTD
              </p>
            </div>
            <div class="col-md-4">
              <p class="text-muted font-italic"> Jan 2016- Mar 2019</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-muted">
              <p >
                <ul>
                  <li>
                    Make the schedule for maintainning and upgrading, installing 
                    the systems for procducing.
                  </li>
                  <li>
                    Make sure the systems can run well.
                  </li>
                  <li>
                    Implementate and inspect the systems.
                  </li>
                </ul>
              </p>
            </div>
          </div>

          <div class="row text-muted mb-5 mt-3">
            <div class="col-md-12 pl-5">
              <ul>
                <li>
                  English level: Able to use English in medium level.
                </li>
                <li>
                  Japanse level: N5.
                </li>
                <li>
                  Good at Microsoft Office.
                </li>
                <li>
                  <a href="https://github.com/TongDangTinh">
                    My github: https://github.com/TongDangTinh
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
